<%- include('partials/header') %>


<form action="/changepassword" method="POST" class="form-signin">
   
  <% if(locals.error) { %>
        <div>
          <div>
            <%= error %>
          </div>
        </div>
      <% } %>

      <% if(locals.succes) { %>
        <div>
          <div>
            <%= succes %>
          </div>
        </div>
      <% } %>
<h3>Bonjour <%= user.firstname%> <%= user.lastname %></h3>
<% if(user.status === 0) { %>

<p>Ceci est votre premiere connection, veuillez changer votre mot de passe provisoire</p>

<% } %>

  <div>
    <input type="password" class="form-control" id="password" name="oldPassword" placeholder="Votre ancien mot de mot de passe">
    <label for="password">Ancien mot de mot de passe</label>
  </div>


  <div>
    <input type="password" class="form-control" id="password" name="newPassword" placeholder="Votre nouveau mot de mot de passe">
    <label for="password">Nouveau mot de mot de passe</label>
  </div>


  <div>
    <input type="password" class="form-control" id="passwordConfirm" name="newPasswordConfirm"
      placeholder="Confirmez votre mot de passe">
      <label for="passwordConfirm">Confirmez le mot de passe</label>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</form>

<button><a href="/profile">Aller sur mon espace privé</a></button>




<%- include('partials/footer') %>