<%- include('partials/header') %>

<div >
  <h2 >Mon Compte</h2>
  <p>Mes informations sur O'quizz !</p>
</div>


<div >
  <div >
    <label >Nom</label>
    <div><%= user.lastname %></div>
  </div>
  <div >
    <label>Prénom</label>
    <div><%= user.firstname %></div>
  </div>
  <div>
    <label>Email</label>
    <div><%= user.email %></div>
  </div>
  <div>
    <label>Role</label>
    <div><%= user.role %></div>
  </div>
</div>

<%- include('partials/footer') %>