<%- include('./partials/header') %>
    <h3>Cette page ne doit etre accessible qu'à l'admin !!!!</h3>
 
  
  <form action="/admin/showphotos" method="POST">
  
  <div>
  <label for="galerie">Afficher les photos de l'album:</label>
  <select name="galerie_id" id="galerie">
    <% for (const galerie of galeries) { %>
      <option value="<%=galerie.id%>"><%=galerie.name%></option>
      <% } %>
  </select>
</div>
<div><button>Envoyer</button></div>
</form>

<%if (locals.photos) {%>
<% for (const photo of photos) { %>

<img class="image" src="/images/<%= photo.name %>" alt="">

<% } %>

  <% } %>


<button><a href="/admin"> retour </a></button>
<%- include('./partials/footer') %>
